:root {
    --white: #000;
    --grey: #333;
    --black: #fff;
    --dark-black: #fff;
    background-color: #fff;
}

.nav {
    background-color: rgba(255, 255, 255, 0.75);
}

.landing-hero-gradient {
    background-image: none;
}

.footer-gradient {
    background-image: -webkit-linear-gradient(top, #fff 0%, rgba(0, 0, 0, 0.2) 70%);
}

.footer {
    background-image: url('../../assets/photography/2.jpg');
}

.landing-hero {
    background-image: url('../assets/hero-inv.png');
}
