[data-theme="dark"] .nav {
    background-color: #fff !important;
}

[data-theme="dark"] .landing-hero-gradient {
}

[data-theme="dark"] .landing-page-hero {
}

[data-theme="dark"] {
    --white: #000;
    --grey: #333;
    --black: #fff;
    --dark-black: #fff;
    background-color: #fff !important;
}