:root {
    --white: #111;
    --grey: #777;
    --black: #fff;
    --dark-grey: #c7c7c7;
    --dark-black: #fafafa;
}

.client-logo,
.logo-icon,
.strat-steps-icn,
.service-icon {
    filter: invert(1);
}

.nav {
    background-color: rgba(255, 255, 255, 0.75);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.button {
    background: linear-gradient(90deg, var(--gr6) 0%, var(--gr5) 20%, var(--gr3) 40%, var(--gr4) 60%, var(--gr1) 80%, var(--gr2) 100%);
    background-size: 400% 400%;
    animation: btn-anim 15s infinite;
    border: 1px solid #ffffff;
}

@keyframes btn-anim {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.button:hover {
    color: var(--black);
}

.button-nav {
    border-color: var(--white);
    background-color: var(--black);
    background-image: none;
    color: var(--white);
    box-shadow: none;
}

.button-nav:hover {
    background-color: var(--white);
}

.btn-hollow {
    background-image: none;
    border: 1px solid var(--dark-grey);
    transition: border 150ms;
    background-color: transparent;
    box-shadow: none;
    backdrop-filter: saturate(150%) blur(3px);
}

.btn-hollow:hover {
    background-color: transparent;
    color: var(--white);
}

.landing-hero {
    background-image: url('assets/earth.svg');
    border-bottom: 1px solid var(--dark-grey);
    background-size: 95%;
    background-position: 50% -10%;
}

@keyframes l-hero {
    0% {
        background-position: 50% -100%;
    }

    100% {
        background-position: 50% -10%;
    }
}

.landing-hero-gradient {
    background-image: none;
}

.footer {
    background-image: url('assets/map.svg');
    border-top: 1px solid var(--dark-grey);
    background-size: 68%;
    background-color: #e8e8e8;
}

.footer-gradient {
    background-image: url('none');
    background-color: rgba(255, 255, 255, 0.8);
}

.circle-label-h {
    color: var(--black);
}

.client-logo-grid-hold {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--dark-grey);
}

.strat-discovery-txt {
    color: var(--black);
}

.border-hov-hold {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
}

.switch-txt:after {
    color: var(--white);
    content: 'Light';
}

.switch-txt-dark {
    display: none;
}

.switch-icn {
    display: none;
}

.switch-icn-light {
    display: inline;
    margin-bottom: 0;
}