:root {
    --white: #333;
    --grey: #999;
    --black: #fff;
    --dark-grey: #999;
    --dark-black: #fafafa;
}

.client-logo,
.logo-icon,
.strat-steps-icn,
.service-icon {
    filter: invert(1);
}

.nav {
    background-color: rgba(255, 255, 255, 0.75);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.button {
    background-image: linear-gradient(105deg, rgb(52, 93, 226) 0%, rgb(11, 201, 255) 100%);
    border: 1px solid #0e3eae;
}

.button-nav {
    background-image: linear-gradient(105deg, #e24c34 0%, #ffe40b 100%);
    border-color: #f07510;
}

.btn-hollow {
    background-image: none;
    border: 1px solid var(--dark-grey);
    transition: box-shadow 150ms;
}

.button:hover {
    color: var(--black);
}

.btn-hollow:hover {
    color: var(--white);
    box-shadow: 0px 3px 4px #cdcdcd;
}

.landing-hero-gradient {
    background-image: none;
}

.footer-gradient {
    background-image: none;
}

.footer {
    background-image: url('../../assets/photography/2.jpg');
    border-top: 1px solid var(--grey);
}

.landing-hero {
    background-image: none;
    border-bottom: 1px solid var(--grey);
}

.hero-txt-animate-1 {
    background-color: red;
    animation-name: example;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes example {
    from {
        background-color: red;
    }

    to {
        background-color: yellow;
    }
}

.circle-label-h {
    color: var(--black);
}

.client-logo-grid-hold {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--dark-grey);
    background-color: var(--dark-black);
}

.strat-discovery-txt {
    color: var(--black);
}