:root {
    --white: #111;
    --grey: #777;
    --black: #fff;
    --dark-grey: #999;
    --dark-black: #fafafa;
}

.client-logo,
.logo-icon,
.strat-steps-icn,
.service-icon {
    filter: invert(1);
}

.nav {
    background-color: rgba(255, 255, 255, 0.75);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.button {
    border: 1px solid #0e3eae;
    background: linear-gradient(90deg, rgb(11, 201, 255) 0%, rgb(33, 77, 219) 21%, rgb(134, 32, 189) 46%, rgb(236, 42, 135) 69%, rgb(230, 61, 33) 82.5165%, rgb(255, 185, 11) 100%);
    background-size: 400% 400%;
    animation: btn-anim 10s ease infinite;
}

@keyframes btn-anim {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.button:hover {
    color: var(--black);
    background-color: #2f5ef9;
    border-color: #061331;
}

.button-nav {
    border-color: var(--white);
    background-color: var(--black);
    background-image: none;
    color: var(--white);
    box-shadow: none;
}

.button-nav:hover {
    background-color: var(--white);
}

.btn-hollow {
    background-image: none;
    border: 1px solid var(--dark-grey);
    transition: box-shadow 150ms;
    background-color: transparent;
    box-shadow: none;
    backdrop-filter: blur(3px);
}

.btn-hollow:hover {
    background-color: transparent;
    color: var(--white);
    box-shadow: 0px 3px 10px #cdcdcd;
}

.landing-hero {
    background-image: url('assets/earth.svg');
    border-bottom: 1px solid var(--grey);
    background-size: 95%;
    background-position: 50% -10%;
}

.landing-hero-gradient {
    background-image: none;
}

.footer {
    background-image: url('assets/map.svg');
    border-top: 1px solid var(--grey);
    background-size: 55%;
}

.footer-gradient {
    background-image: url('none');
    background-color: rgba(255, 255, 255, 0.9);
}

.circle-label-h {
    color: var(--black);
}

.client-logo-grid-hold {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--dark-grey);
}

.strat-discovery-txt {
    color: var(--black);
}

.border-hov-hold {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
}

.switch-txt:after {
    color: var(--white);
    content: 'Light';
}

.switch-txt-dark {
    display: none;
}

.switch-icn {
    display: none;
}

.switch-icn-light {
    display: inline;
    margin-bottom: 0;
}