[data-theme="dark"] .nav {
    background-color: rgba(245, 245, 245, 0.75) !important;
}

[data-theme="dark"] .landing-hero-gradient {
}

[data-theme="dark"] .landing-hero {
    background-image: url('../../assets/photography/hero-inv.png');
}

[data-theme="dark"] {
    --white: #000;
    --grey: #333;
    --black: #fff;
    --dark-black: #fff;
    background-color: #fff !important;
}